/* Css Verificador de Idade */

:root{
    --corpo: rgba(6, 71, 236, 0.539);
    --section-cor: white;
    --fonte: normal 15pt sans-serif;
    --fonte-cor:white;
}

body{
    background-color: var(--corpo);
    font: var(--fonte);
}

header,p{
    font-size: x-large;
    color:var(--fonte-cor);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 5px;
}
article{
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    background-color: chartreuse;
}

section{
    background-color: var(--section-cor);
    border-radius: 5px;
    /* padding: 15px; */
    margin: auto;
    /* width: 700px; */
    /* height: 400px; */
    box-shadow: 2px  2px 5px rgba(0, 0, 0, 0.368);
}

div {
    text-align: center;
    padding: 10px;
}
footer{
    font-size: smaller;
    font-style: oblique;
    height: 50px;
    color:var(--fonte-cor);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 100px auto;
}